:root,
html.light {
  --text-color: #222;
  --bg-color: #fff;
}

html.dark {
  --text-color: #eee;
  --bg-color: #121212;
}

/* defaults for displaying toggle form */
#light-form {
  display: block;
}

#dark-form {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eee;
    --bg-color: #121212;
  }

  /* In dark mode hide light form */
  #light-form {
    display: none;
  }

  #dark-form {
    display: block;
  }
}

/* When toggled to light mode */
.light #light-form {
  display: block;
}

.light #dark-form {
  display: none;
}

/* When toggled to dark mode */
.dark #light-form {
  display: none;
}

.dark #dark-form {
  display: block;
}

/* Form styling */
.toggle-form {
  position: fixed;
  top: 0;
  right: 0;
}

.toggle-form input {
  border: none;
  cursor: pointer;
  background: var(--bg-color);
  color: var(--text-color);
  padding: 15px;
  margin: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
  text-align: center;
  background: var(--bg-color);
  color: var(--text-color);
}
